@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Fjalla+One|Exo+2');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Exo 2', Arial;
    margin: 0;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.aligncenter{
    text-align: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: #333;
    flex: 100%;
    padding: 10px;
    box-shadow: 5px 0px  10px #333;
    color: #efefef;
}

.navbar a{
    text-decoration: none;
    padding: 10px 20px;
    color: #efefef;
}

.navbar a:hover{
    animation-name: botones;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}


@keyframes botones {
    from{color: #efefef;}
    to{background-color: #efefef; color: #333;}
}

#login{
    border: 2px solid #3d9164;
    color: #3d9164;
    padding: 5px;
    border-radius: 5px;
}
#login:hover{
    animation-name: botonlogin;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes botonlogin {
    from{color: #3d9164;}
    to{background-color: #3d9164; color: #efefef;}
}


.header-left{
    flex: 80%;
    background-color: #357c56;
    padding: 60px;
}

.header-right{
    flex:20%;
    background-color: #3d9164;
    padding: 60px;

}
.center, .center2, .left, .left2, .right, .right2{
    color: #333;
}
.left{
    flex:10%;
    background-color: #4c4c4c;
    padding: 15px;

}

.left a{
    display: block;
    text-decoration: none;
    background: linear-gradient(to top, #3f51b5,#6679e2);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #efefef;
    width: 120px;
}

.left a:hover{

    animation-name: botonadmin;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes botonadmin {
    from{width: 120px;}
    to{width: 130px;}
}

.center{
    flex: 70%;
    background-color: #41996a;
    padding: 30px;
}

.right{
    flex:20%;
    background-color: #4c4c4c;
    padding: 30px;
}


.leftcenter{
    flex: 15%;
    background-color: #357c56;
    padding-left: 10px;
    padding-right: 10px;

}

.rightcenter{
    flex:80%;
    background-color: #4fc185;
    padding-left: 10px;
    padding-right: 10px;
}


.btncenter{
    flex: 5%;

}


.btncenter a{
    text-decoration: none;
    background-color: #2a6345;
    color: #333;
    padding: 15px 10px;

}

.btncenter a:hover{
    animation-name: botonblog;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes botonblog {
    from{color: #333;}
    to{background-color: #1f4c34; color: #efefef;}
}

.blog{
    margin-bottom: 50px;
}

.footer{
    flex: 100%;
    background-color: #357c56;
    color: #333;
}

.errorPage{
    background-color: #357c56;
    color: #333;
    position: absolute;
    top: 40%;
    left: 40%;
}


.errorPage h1{
    font-size: 150px;
}
.errorPage h1{
    font-size: 80px;
}